# MkDocs configuration for builds with material theme

site_name: Percona Software Repositories 
site_description: Documentation
site_author: Percona LLC
copyright: Percona LLC, &#169; 2024

site_url: 'https://docs.percona.com/percona-software-repositories/'
repo_name: /percona/repo-config-docs
repo_url: https://github.com/percona/repo-config-docs
edit_uri: edit/master/docs/

use_directory_urls: false


#Theme settings
theme:
  name: material
  custom_dir: _resource/overrides
  logo: assets/repo-mark.svg
  favicon: assets/repo-fav.svg
  font:
    text: Roboto
    code: Roboto Mono
  icon:
    edit: material/file-edit-outline
    view: material/file-eye-outline
  
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Color theme set to Automatic. Click to change
    - media: "(prefers-color-scheme: light)"
      scheme: percona-light
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-7
        name: Color theme set to Light Mode. Click to change
    - media: "(prefers-color-scheme: dark)"
      scheme: percona-dark
      primary: custom
      accent: custom
      toggle:
        icon: material/brightness-4
        name: Color theme set to Dark Mode. Click to change

# Theme features

  features:
    - search.share
    - search.highlight
    - content.action.copy
#    - content.action.edit
    - content.action.view
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - toc.follow      
    - navigation.top
    - navigation.tracking 

#Styling
extra_css:
  - https://unicons.iconscout.com/release/v3.0.3/css/line.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css
  - css/nocopy.css
  - css/design.css
  - css/osano.css
  - css/repo.css
  - css/extra.css
  - css/rating.css

extra_javascript:
  - js/promptremover.js
  - js/consent.js
  - js/rating.js

markdown_extensions:
  abbr: {}
  attr_list: {}
  toc:
    permalink: True
    title: On this page
    toc_depth: 2
  admonition: {}
  footnotes: {}
  def_list: {} # https://michelf.ca/projects/php-markdown/extra/#def-list
  meta: {}
  md_in_html: {}
  smarty:
      {smart_angled_quotes: true}
  pymdownx.details: {}
  pymdownx.mark: {}
  pymdownx.smartsymbols: {}
  pymdownx.tabbed: 
      {alternate_style: true}
  pymdownx.tilde: {}
  pymdownx.superfences: 
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
  pymdownx.highlight:
      use_pygments: true
  pymdownx.inlinehilite: {}
  pymdownx.snippets:  
    base_path: ["snippets"]
#    auto_append:
#      - services-banner.md
  pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - _resource/.icons
  
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - git-revision-date-localized:
      enable_creation_date: true
      enabled: !ENV [ENABLED_GIT_REVISION_DATE, True]
  - git-committers:
      enabled: !ENV [CI, false]
      repository: percona/repo-config-docs
      branch: "master" 
  - meta-descriptions:
      export_csv: false
      quiet: false
      enable_checks: false
      min_length: 50
      max_length: 160
# - bootstrap-tables
  - section-index # Adds links to nodes - comment out when creating PDF
#  - htmlproofer # Uncomment to check links - but extends build time significantly
  - macros:
        include_yaml:
#          - 'variables.yml' # Use in markdown as '{{ VAR }}'

extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: G-J4J70BNH0G
  
nav:
  - Home: index.md
  - get-help.md
  - Installation and update:
    - Install percona-release: installing.md
    - updating.md
  - Configure Percona repositories: percona-release.md
  - Repository locations:
    - Components: repository-location.md
    - mysql.md
    - mongodb.md
    - postgresql.md
    - tools.md
  - mirror.md
  - copyright.md
  - trademark-policy.md
