# MkDocs configuration for builds with material theme

site_name: Percona Software Repositories 
site_description: Documentation
site_author: Percona LLC
copyright: Percona LLC, &#169; 2023

site_url: 'https://docs.percona.com/percona-software-repositories/'
repo_name: /percona/repo-config-docs
repo_url: https://github.com/percona/repo-config-docs
edit_uri: edit/master/docs/

use_directory_urls: false


#Theme settings
theme:
  name: material
  custom_dir: _resource/overrides
  logo: _images/percona-logo.svg
  favicon: _images/percona-favicon.ico
  font:
    text: Poppins
  palette:

    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: percona-light
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode

# Theme features

  features:
    - search.share
    - search.highlight
    - content.action.copy
    - content.action.view
    - content.account.edit
    - content.tabs.link
    - navigation.top
    - navigation.trackingc
    - content.code.copy 


#Styling
extra_css:
  - https://unicons.iconscout.com/release/v3.0.3/css/line.css
  - https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css
  - css/version-select.css
  - css/toctree.css
  - css/percona.css
  - css/table-list.css
  - css/nocopy.css

extra_javascript:
  - js/promptremover.js

markdown_extensions:
  attr_list: {}
  toc:
    permalink: True
    title: On this page
    toc_depth: 3
  admonition: {}
  footnotes: {}
  def_list: {} # https://michelf.ca/projects/php-markdown/extra/#def-list
  meta: {}
  md_in_html: {}
  smarty:
      {smart_angled_quotes: true}
  pymdownx.details: {}
  pymdownx.mark: {}
  pymdownx.smartsymbols: {}
  pymdownx.tabbed: 
      {alternate_style: true}
  pymdownx.tilde: {}
  pymdownx.superfences: {}
  pymdownx.highlight:
      linenums: false
  pymdownx.inlinehilite: {}
  pymdownx.snippets: {}
  pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - git-revision-date-localized:
      enable_creation_date: true
      enabled: !ENV [ENABLED_GIT_REVISION_DATE, True]
  - meta-descriptions:
      export_csv: false
      quiet: false
      enable_checks: false
      min_length: 50
      max_length: 160
# - bootstrap-tables
  - section-index # Adds links to nodes - comment out when creating PDF
#  - htmlproofer # Uncomment to check links - but extends build time significantly
  - macros:
        include_yaml:
#          - 'variables.yml' # Use in markdown as '{{ VAR }}'

extra:
  version:
    provider: mike
  analytics:
    provider: google
    property: UA-343802-3
  homepage: https://docs.percona.com
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better. Read more about <a class="reference external" href="https://www.percona.com/20180524-cookie-policy" target="_blank">Percona Cookie Policy</a>.

nav:
  - Home: index.md
  - Installation and update:
    - Install percona-release: installing.md
    - updating.md
  - Configure Percona repositories: percona-release.md
  - Repository locations:
    - Components: repository-location.md
    - mysql.md
    - mongodb.md
    - postgresql.md
    - tools.md
  - mirror.md
  - copyright.md
  - trademark-policy.md
